#info_top{
  height: 42px;
  border-bottom: 1px solid $gray-300;
  line-height: 43px;
}

#logo_top{
  margin: 40px 0;
  width: 100%;
}

#form_search_top{
  display: block;
  width: 100%;
  position: relative;
  padding: 40px 0 0 0;
}

#search_input_top{
  border: 1px solid $info;
  padding: 0 100px 0 15px;
  outline: none;
  height: 48px;
  line-height: 48px;
  width: 100%;
  margin: 0 -4px 0 0;
}

.btn.btn-search-top{
  position: absolute;
  color: #fff;
  background-color: $info;
  padding: 0 10px;
  height: 48px;
  line-height: 48px;
  margin: 0;
  top: 40px;
  right: -3px;
  border-radius: 0;
}

#menu_top{
  position:relative;
  nav.navbar{
    padding: 3px 0;
  }
  &:before{
    content: " ";
    border: #fff thin dashed;
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    position: absolute;
    box-sizing: border-box;
  }
  .nav-link{
    color: #fff;
  }
  .nav-item{
    line-height: 33px;
    height: 50px;
    padding: 0 10px;
    border-right: 1px solid $gray-500;
    &:last-child{
      border-right: none;
    }
  }
  .nav-item.active{
    background-color: $info;
  }
  .nav-item:hover{
    background-color: $info;
  }
  .dropdown{
    .dropdown-item{
      border-bottom: 1px dashed $gray-500;
      &:last-child{
        border-bottom: none;
      }
    }
  }
  .dropdown:hover>.dropdown-menu {
    display: block;
  }
}


.card-sidebar{
  width: 100%;
  .card-header{
    color: #fff;
    background: $primary;
  }
}



.card-products-slide{
  width: 100%;
  border:1px solid $gray-300;
  border-top: 1px solid $primary;
  .card-header{

  }
  .card-product-in-slide{
    border-radius: 0;
  }
  .owl-slide-nav button{
    border: none;
  }
  h3.card-text{
    font-size: $font-size-base;
    line-height: 1.6;
    min-height: 50px;
    overflow: hidden;
    height: 50px;
    transition : height;
    &:hover{
      height: auto;
    }
    a{
      display: block;
    }
  }
}

.card-sidebar{
  .dropright .dropdown-toggle::after {
    vertical-align: 0;
    position: absolute;
    right: 10px;
    top: 18px;
  }
  .dropdown:hover>.dropdown-menu {
    display: block;
  }
}



.product-detail-container img{
  max-width: 90%;
  text-align: center;
}

.rft-wrapper{
    img{
        max-width: 90%;
        text-align: center;
    }
}






















footer{
  min-height: 200px;
  background: $gray-300;
}
#copy-right-bottom{
  color: #fff;
  background-color: $gray-700;
}
