// Body
$body-bg: #f5f5f5;

// Typography
$font-family-sans-serif: Arial,"Helvetica Neue",Helvetica,sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #337ab7;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$primary: #3a68b1;
$secondary: #dc3333;
$info: #5e96ef;
$danger: #b5432f;

$gray-900: #333;

